<div class="page-container">
  <h4>Milestone</h4>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Increase Affinity Score by 5</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
          <a href="#" class="btn btn-primary">Mark as Done</a>
          <a href="#" class="btn btn-secondary">Redeem Rewards</a>
          <div class="progress" style="margin-top: 20px">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=45 aria-valuemin="0" aria-valuemax="100"
              style="width: 45%"></div>
            <span>45%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Increase Affinity Score by 10</h5>
          <p class="card-text">sed do eiusmod tempor incididunt ut labore et dolore</p>
          <a href="#" class="btn btn-primary">Mark as Done</a>
          <a href="#" class="btn btn-secondary">Redeem Rewards</a>
          <div class="progress" style="margin-top: 20px">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=64 aria-valuemin="0" aria-valuemax="100"
              style="width: 64%"></div>
            <span>64%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Increase Affinity Score by 15</h5>
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit </p>
          <a href="#" class="btn btn-primary">Mark as Done</a>
          <a href="#" class="btn btn-secondary">Redeem Rewards</a>
          <div class="progress" style="margin-top: 20px">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=85 aria-valuemin="0" aria-valuemax="100"
              style="width: 85%"></div>
            <span>85%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="title-buddies">
            <h5 class="card-title">Increase Affinity Score by 50</h5>
          </div>

          <p class="card-text">fugit, sed quia consequuntur magni dolores</p>
          <a href="#" class="btn btn-primary">Mark as Done</a>
          <a href="#" class="btn btn-secondary">Redeem Rewards</a>
          <div class="progress" style="margin-top: 20px">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=36 aria-valuemin="0" aria-valuemax="100"
              style="width: 36%"></div>
            <span>36%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>