h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.row{
    margin-bottom: 20px;
}

.card{
    border-radius: 0px;
    padding: 10px;
}

.card-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: #3A3E41;
}

.card-body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.96em;
    color: #72757C;
}

.btn-primary{
    /* background-color: #09F3B1; */
    background: linear-gradient(to right, #009FF7, #1AD7CC);
    border: none;
    border-radius: 6px;
    padding: 15px 50px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.btn-secondary{
    margin-left: 10px;
    background-color: transparent;
    border: 1.8px solid gray;
    color: gray;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px 50px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;

}

.progress-bar{
    background: linear-gradient(to right, #009ff7, #1AD7CC);
}