<div class="page-container">
  <h4>Analyze</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="assets/user.jpg" alt="" class="avatar">
          <h5 class="card-title user-name">{{user.name}} <span class="badge badge-success">{{user.influence}}</span></h5>
          <p class="card-text user-info">{{user.description}}</p>
          <p class="card-text user-location">
            <i class="dripicons-location"></i>
            <span>Los Banos</span>
          </p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Twitter User Metrics</h5>
          <div class="user-value">
            <span class="count">{{user.retweets_sent}}&nbsp;</span>
            <span class="label">retweets sent</span>
          </div>
          <div class="user-value">
            <span class="count">{{user.retweets_received}}&nbsp;</span>
            <span class="label">retweets received</span>
          </div>
          <div class="user-value">
            <span class="count">{{user.mentions_sent}}&nbsp;</span>
            <span class="label">mentions sent</span>
          </div>
          <div class="user-value">
            <span class="count">{{user.mentions_received}}&nbsp;</span>
            <span class="label">mentions received</span>
          </div>
        </div>
        <ngx-charts-bar-vertical
  [view]="viewbar"
  [scheme]="colorSchemeBar"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="margin-top: -70px;">
      <div class="card top-tweets">
        <div class="card-body">
          <h5 class="card-title">Top 5 Tweets</h5>
          <p class="card-text">Top tweets throughout the years</p>
        </div>
      </div>
      <div class="card" *ngFor="let tweet of user.top_tweets">
        <div class="card-body">
          <img src="assets/user.jpg" alt="" class="tweet-img">
          <div>
            <span class="card-title tweet-user">{{user.name}}</span>
            <span class="tweet-date">{{tweet.created_at}}</span>
          </div>
          <p class="card-text tweet-msg">{{tweet.text}}</p>
          <div class="tweet-ctrls">
            <span class="fave">
              <i class="dripicons-heart"></i>
              <span class="fav-value">{{tweet.favorite_count}}</span>
            </span>
            <span class="rts">
              <i class="dripicons-retweet"></i>
              <span class="retweet-value">{{tweet.retweet_count}}</span>
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body ">
          <h5 class="card-title">Follower Location</h5>
          <div id="chart-container">
            <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="data"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
