<div class="page-container">
  <h4>Campaigns</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Line Chart</h5>
          <p class="card-text">Bla bla bla bla</p>
          <div #chart>
            <!-- Chart will appear here -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pantene</h5>
          <p class="card-text">Beautiful and healthy hair starts today with Pantene.</p>
          <a href="#" class="btn btn-primary">Apply</a>
          <a href="#" class="btn btn-secondary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Olay</h5>
          <p class="card-text">We're passionate about making a difference in your skin</p>
          <a href="#" class="btn btn-primary">Apply</a>
          <a href="#" class="btn btn-secondary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pantene</h5>
          <p class="card-text">Beautiful and healthy hair starts today with Pantene.</p>
          <a href="#" class="btn btn-primary">Apply</a>
          <a href="#" class="btn btn-secondary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>